name: CI

on:
  pull_request:
    branches:
      - main
    types: [synchronize, opened, reopened, ready_for_review]

jobs:
  skip-draft:
    name: skip draft
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: skip on draft
        if: github.event.pull_request.draft == true
        run: echo "is a draft PR, skipping..." && exit 0
      - name: success
        run: echo "is not a draft PR"

  tests:
    needs: skip-draft
    name: Lint & Test
    runs-on: ubuntu-latest
    container: node:20.1.0
    timeout-minutes: 10
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - uses: actions/cache@v2.1.6
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/pnpm-lock.yaml') }}
      - name: Install PNPM
        run: npm i -g pnpm@10.13.1
      - name: Install dependencies
        run: pnpm install
      - name: Build
        run: pnpm build
      - name: Tests
        run: pnpm test
