name: CI

on:
  pull_request:
    branches: [main, develop]
    types: [opened, reopened, synchronize, ready_for_review]

  push:
    branches: [develop, main]

jobs:
  tests:
    if: |
      (github.event_name == 'pull_request' && github.event.pull_request.draft == false) ||
      (github.event_name == 'push')

    runs-on: ubuntu-latest
    container: node:20.1.0
    timeout-minutes: 15
    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_DB: ${{ vars.POSTGRES_DB }}
          POSTGRES_USER: ${{ vars.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U ${{ vars.POSTGRES_USER }}"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
      redis:
        image: redis:7-alpine
        env:
          REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
        ports:
          - 6379:6379
        options: >-
          --health-cmd="redis-cli ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
      zookeeper:
        image: bitnami/zookeeper:3.9
        env:
          ALLOW_ANONYMOUS_LOGIN: yes
        ports: [2181:2181]
        volumes:
          - type: tmpfs
            target: /bitnami/zookeeper/data
        options: >-
          --health-cmd="echo ruok | nc -w 2 localhost 2181 | grep imok || exit 1"
          --health-start-period=20s   # wait for JVM
          --health-interval=10s
          --health-timeout=5s
          --health-retries=12
      kafka:
        image: bitnami/kafka:3.6.0
        env:
          KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
          KAFKA_CFG_LISTENERS: PLAINTEXT://0.0.0.0:9092
          KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
          ALLOW_PLAINTEXT_LISTENER: yes
        ports:
          - 9092:9092
        options: >-
          --health-cmd="bash -c 'echo > /dev/tcp/localhost/9092'"
          --health-interval=15s --health-timeout=5s --health-retries=8
    env:
      NODE_ENV: test
      PROJECT_MODE: test
      PROJECT_PORT: 3000

      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: ${{ vars.POSTGRES_DB }}
      POSTGRES_USER: ${{ vars.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

      JWT_PRIVATE_KEY: ${{ vars.JWT_PRIVATE_KEY }}
      JWT_PUBLIC_KEY: ${{ vars.JWT_PUBLIC_KEY }}
      JWT_ALGORITHM: ${{ vars.JWT_ALGORITHM }}
      BCRYPT_SALT_ROUNDS: ${{ vars.BCRYPT_SALT_ROUNDS }}
      JWT_EXPIRATION_TIME: ${{ vars.JWT_EXPIRATION_TIME }}

      REDIS_IS_SECURE: ${{ vars.REDIS_IS_SECURE }}
      REDIS_HOSTNAME: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
      REDIS_DB: ${{ vars.REDIS_DB }}

      KAFKA_BROKERS: kafka:9092

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: ~/.local/share/pnpm
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-
      - name: Install PNPM
        run: npm i -g pnpm@10.13.1
      - name: Install deps
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Build
        run: pnpm build
      - name: Lint
        run: pnpm lint
      - name: Test
        run: pnpm test
